*.img
*.bin
*.lst
*.gas
*.obj
bootpack.nas
graphic.nas
dsctbl.nas
int.nas
fifo.nas
keyboard.nas
mouse.nas
memory.nas
sheet.nas
timer.nas
bootpack.map
bootpack.bim
bootpack.hrb
haribote.sys
hankaku.txt

